<div class="bloc-message-forum " data-id="1036520623">
    <div class="conteneur-message">
        <div class="bloc-avatar-msg">
            <div class="back-img-msg">
                <div>
                    <a href="http://www.jeuxvideo.com/profil/stormbound?mode=infos" target="_blank" class="xXx ">
                        <img src="https://risibank.fr/cache/stickers/d209/20968-full.png"
                            class="user-avatar-msg" alt="Stormbound">
                    </a>
                </div>
            </div>
        </div>
        <div class="inner-head-content">
            <div class="bloc-header">
                <a href="http://www.jeuxvideo.com/profil/stormbound?mode=infos" target="_blank"
                    class="xXx bloc-pseudo-msg text-user">
                    {{ User.Name }}
                </a>
                <div class="bloc-options-msg"> </div>
                <div class="bloc-date-msg">
                    <a href="/stormbound/forums/message/1036520623" target="_blank" class="xXx lien-jv">
                        {{ [../helpers/dateFormat] Post.CreationDate }}
                    </a>
                </div>
            </div>
            <div class="bloc-contenu">
                <div class="txt-msg  text-enrichi-forum ">
                    {{{ Post.CompiledContent }}}
                </div>
            </div>
        </div>
    </div>
</div>
