<div id="forum-main-col" class="col-main">
    <div class="titre-head-bloc">
        <h2 class="titre-bloc titre-bloc-forum hidden-forum-title">
            Forum {{ forumName }}
        </h2>
    </div>

    <div class="bloc-pre-pagi-forum bloc-outils-top">
        <div class="bloc-pre-left">
            <a href="#bloc-formulaire-forum">
                <span class="btn btn-actu-new-list-forum"> Nouveau sujet </span>
            </a>
        </div>
        <div class="bloc-rech-forum">
            <form class="form-rech-forum" method="get" action="/recherche/forums/0-51-0-1-0-1-0-blabla-18-25-ans.htm">
                <input class="txt-search" type="text" placeholder="Rechercher dans le forum" name="search_in_forum"
                    id="search_in_forum" autocomplete="off" value="">

                <select class="select-search" name="type_search_in_forum" id="type_search_in_forum">
                    <option value="titre_topic"> Sujet </option>
                    <option value="auteur_topic"> Auteur </option>
                    <option value="texte_message"> Message </option>
                </select>
                <button class="btn btn-lancer-rech" type="submit">
                    <span class="icon-search"> </span>
                </button>
            </form>
        </div>
        <div class="bloc-pre-right">
            <button class="btn btn-actu-new-list-forum btn-actualiser-forum"> Actualiser </button>
        </div>
    </div>

    <div class="conteneur-topic-pagi">
        {{> ../misc/listPagination }}

        <ul class="topic-list topic-list-admin">
            <li class="topic-head">
                <span class="topic-subject"> Sujet </span>
                <span class="topic-author"> Auteur </span>
                <span class="topic-count"> Nb </span>
                <span class="topic-date"> Dernier msg </span>
                <label class="topic-select" for="select-all-msg" title="Sélectionner tous les topics">
                    <input id="select-all-msg" type="checkbox">
                </label>
            </li>

            {{#each topics}}
            {{> row .}}
            {{/each}}
        </ul>

        {{> ../misc/listPagination }}
    </div>

    <div id="hidden-form-placeholder"> </div>
</div>