<div class="panel panel-jv-forum" style="padding-bottom: 0rem;">
    <div class="panel-heading">
        Logs
    </div>
    <div class="panel-body">
        <div class="scrollable">
            <div class="scrollable-wrapper">
                <div class="scrollable-content bloc-info-forum">
                    <table id="hidden-logs">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>