<div class="panel panel-jv-forum" style="padding-bottom: 0rem;">
    <div class="panel-heading">
        Hidden JVC (<span class="hidden-primary-color"> v0.8.0 </span>)
        <span class="nb-connect-fofo">
            0 connecté(s)
        </span>
    </div>
    <div class="panel-body">
        <div class="scrollable">
            <div class="scrollable-wrapper">
                <div class="scrollable-content bloc-info-forum">
                    <h4 class="titre-info-fofo"> Etat </h4>

                    <a id="hidden-toggle">
                        <button type="button" class="btn btn-actu-new-list-forum hidden-primary-color-bg">
                            Activé
                        </button>
                    </a>
                </div>

                {{#if state.user.jwt}}
                <div class="scrollable-content bloc-info-forum">
                    <h4 class="titre-info-fofo"> Compte </h4>

                    <p>
                        Connecté en tant que: {{ state.user.registeredName }}
                    </p>

                    <div class="form-post-topic" style="margin-bottom: 0rem;">
                        <button id="hidden-logout" type="button" class="btn btn-actu-new-list-forum">
                            Deconnexion
                        </button>
                    </div>
                </div>
                {{/if}}

                {{#unless state.user.jwt}}
                <div class="scrollable-content bloc-info-forum">
                    <h4 class="titre-info-fofo"> Connexion </h4>

                    <div class="form-post-topic" style="margin-bottom: 0rem;">
                        <input id="hidden-name" type="text" class="form-control" placeholder="Pseudo"
                            style="margin-bottom: 1rem;">

                        <input id="hidden-password" type="password" class="form-control" placeholder="Mot de passe"
                            style="margin-bottom: 1rem;">

                        <button id="hidden-login" type="button" class="btn btn-actu-new-list-forum hidden-primary-color-bg">
                            Se connecter
                        </button>
                        <button id="hidden-register" type="button" class="btn btn-actu-new-list-forum"
                            style="float:right">
                            S'inscrire
                        </button>
                    </div>
                </div>

                <div class="scrollable-content bloc-info-forum">
                    <h4 class="titre-info-fofo"> Pseudo anonyme </h4>
                    <div class="form-post-topic" style="margin-bottom: 0rem;">
                        <p id="hidden-display-name"> {{ state.user.anonymousName }} </p>

                        <button id="hidden-edit-name" type="button" class="btn btn-actu-new-list-forum">
                            Modifier
                        </button>

                        <input id="hidden-anonymous-name" type="text" class="form-control" placeholder="Pseudo anonyme"
                            style="margin-bottom: 1rem; display: none;" value="{{ state.user.anonymousName }}">

                        <button id="hidden-save-name" type="button" class="btn btn-actu-new-list-forum" style="display: none;">
                            Sauvegarder
                        </button>
                    </div>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>