.jvc-topic-contains-hidden-post {
    a.topic-title {
        color: $hidden-link !important;
    }

    a.topic-title:visited {
        color: $hidden-link-visited !important;
    }
}

.hidden-pagination-highlight {
    display: block;
    border-top: 3px solid $primary;
}