<div id="forum-main-col" class="col-main">
    <div class="titre-head-bloc">
        <h2 class="titre-bloc titre-bloc-forum hidden-forum-title">
            Chargement...
        </h2>
    </div>

    <div class="bloc-pre-pagi-forum bloc-outils-top">
        <div class="bloc-pre-left">
            <a href="#bloc-formulaire-forum">
                <span class="btn btn-actu-new-list-forum"> Nouveau sujet </span>
            </a>
        </div>

        <div class="bloc-rech-forum">

        </div>

        <div class="bloc-pre-right">
            <button class="btn btn-actu-new-list-forum btn-actualiser-forum"> Actualiser </button>
        </div>
    </div>

    <div class="conteneur-topic-pagi">
        <ul class="topic-list topic-list-admin">
            <li class="topic-head">
                <span class="topic-subject"> Sujet </span>
                <span class="topic-author"> Auteur </span>
                <span class="topic-count"> Nb </span>
                <span class="topic-date"> Dernier msg </span>
            </li>
        </ul>
    </div>
</div>