h2.hidden-forum-title.titre-bloc.titre-bloc-forum {
    color: $primary;
}

li.hidden-topic-row:nth-of-type(2n) {
    background-color: $background-even;
}

li.hidden-topic-row:nth-of-type(2n+1) {
    background-color: $background-odd;
}

.hidden-post:nth-of-type(2n) {
    background-color: $background-even !important;
}

.hidden-post:nth-of-type(2n+1) {
    background-color: $background-odd !important;
}
